#colorscheme{
    color: #edc7b7;
    color: #eee2dc;
    color: #bab2b5;
    color: #123c69;
    color: #ac3b61;
}

body {
    background-color: #b9a569;
}

/* TOP SECTION */

h1 {
    display: flex;
    justify-content: center;
    color: #edc7b7;
}

#today {
    display: flex;
    justify-content: center;
    color: #edc7b7;
    font-size: x-large;
    margin-bottom: 0px;
}

#rightNow {
    display: flex;
    justify-content: center;
    color: #edc7b7;
    font-size: x-large;
}

/* TABLE FORMAT */
table {
    display: flex;
    justify-content: center;
}

#tableheadHead, #saveHead {
    width: 50px;
}

#appointmentHead {
    width: 500px;
}

tr {
    color: #eee2dc;
}

td {
    border: .5px #edc7b7 solid;
    height: 50px;
}

input {
    width: 500px;
    height: 50px;
    background-color: #b9a569;
    border: .5px #edc7b7 solid;
    color: #eee2dc;
}

/* TABLE ELEMENTS BASED ON TIME */

.past {
    background-color: rgb(189, 185, 185);
}

.past input {
    background-color: rgb(189, 185, 185);
    color: #eee2dc;
}

.present {
    background-color: rgb(4, 238, 4);
    color: teal;
}

.present input {
    background-color: rgb(4, 238, 4);
    color: teal;
}
